@page
@model Laboratory_Standard.Pages.Methodology.IndexModel
@{
    ViewData["Title"] = "Страница методологии";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="methodology">
    <div class="methodology__inner">
        <div class="main__supsuptext">
            Методика
        </div>
        <div class="methodology__text">

         Используемые значения коэффициентов, предусмотренные «Методикой определения размеров платы за проведение экспертизы представленных заявителем, аккредитованным лицом документов и сведений, выездной экспертизы соответствия заявителя, аккредитованного лица критериям аккредитации и максимальных размеров платы за проведение экспертизы представленных заявителем, аккредитованным лицом документов и сведений, выездной экспертизы соответствия заявителя, аккредитованного лица критериям аккредитации», утвержденной постановлением Правительства Российской Федерации от 14 июля 2014 г. № 653 (с изменениями и дополнениями).
        </div>
        <div class="methodology__text">
            Стоимость проведения проверки Заказчика определяется по следующей формуле:
        </div>
        <div class="methodology-formula">
            <div class="methodology-formula__inner">
                <div class="methodology-formula__main">С = t * Wэ + t * Wэ * (Ккр + Кр + Киз) + Скр + См</div>
                <div class="methodology-formula__parametrs">
                    <div class="methodology-formula__parametr">где <b>t</b> – трудоемкость работ;</div>
                    <div class="methodology-formula__parametr"><b>Wэ</b> – стоимость трудозатрат 1 чел/дня, составляет 4000 руб/1 чел. день;</div>
                    <div class="methodology-formula__parametr"><b>Ккр</b> – коэффициент косвенных расходов экспертной организации, составляет 0,35;</div>
                    <div class="methodology-formula__parametr"><b>Кр</b> – коэффициент размера прибыли (рентабельности), используемый ЭО при проведении экспертизы, составляет 0,2;</div>
                    <div class="methodology-formula__parametr"><b>Киз</b> – коэффициент начислений на заработную плату, составляет 0,302;</div>
                    <div class="methodology-formula__parametr"><b>Скр</b> – командировочные расходы, непосредственно связанные с проведением проверки, руб. (определяются согласно приложению);</div>
                    <div class="methodology-formula__parametr"><b>См    </b> – материальные затраты: только в случае необходимости использования шифрованных образцов (проб) для проведения контрольных и сравнительных испытаний, руб.</div>

                </div>
            </div>
        </div>
    </div>
</div>